.deportContainer{
    width: 100%;
    color: white;
    z-index: 1000;
    position: absolute;
    display: flex;
    background-color: rgb(33,28,102);

}

.deportMenu{
    width: 30%;
    background-color: rgb(16, 12, 59);
    color: white;
}

.deportMenu ul > li {
    list-style: none;
    margin: 2rem .5rem;
    font-size: 1.25rem;
    border-left: 5px solid transparent;
}

.deportMenu ul > li:hover{
    font-weight: 600;
    border-left: 5px solid white;
}

.deportMenu a{
    margin-left: .25rem;
    text-decoration: none;
    color: white;
}

.deportMain{
    width: 70%;
}
