.cartContainer{
    width: 100%;
    height: 100%;
    color: #afafaf;
}

.cartEmpty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
}

.cartEmpty > img{
    width: 30%;
}

.mainContentFooter{
    width: 100%;
    background-color: white;
}

.mainContentFooter > p{
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
}

.mainContentFooter > a{
    color: white;
    width: 80%;
    font-size: 1.25rem;
    border-radius: 6px;
    padding: .5rem;
    background-color: rgb(33,28,102);
    border: none;
    transition: .5s; 
    margin: 0 2rem;
    text-decoration: none;
}

.mainContentFooter > a:active{
    transform: scale(0.9);
}

